<nav>
  <% if logged_in? %>
    <form action="/logout" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Swing Out">
    </form>
  <% else %>
  	<p><a href="/login">Log In</a><br>
    <a href="/users/new">Lez Be Friends</a><p>
  <% end %>
</nav>
