<nav>
  <% if current_user %>
  	<a href="/logout">Log Out</a><br>
    <a href="/users/<%= current_user.id %>">Hey, <%=current_user.id%>!</a>
  <% else %>
  	<p><a href="/login">Log In</a><br>
    <a href="/users/new">Lez Be Friends</a><p>
  <% end %>
  <a href="/">Home</a>

</nav>
