<h1>'Ships</h1>
<h2>Cuz love is love...<br>
  until the patriarchy kills someone for ratings</h2>

  <% @ships.each do |ship| %>
    <li><a href= "/ships/#{ship.id}"><%= ship.mash_name %><a></li>
    <%end%>
