<h1>Lez Watch Some Shows!</h1>

<center><form id="youtube" action="https://www.googleapis.com/auth/youtube" method="post">
  <input type="text" name="ship" placeholder="Search for a ship!"><br>
  <br><input type="submit" value="lez do this!"
</form></center>
