<h1>Lez Watch Some Shows!</h1>

<form id="youtube" action="www.youtube.com" method="get" >
  <input type="text" name="ship" placeholder="Type in a 'Ship">
  <button type="submit">Lez do this!</button>
</form>
<center><div id="youtube">
  <ul>

  </ul>

</div></center>
